@using Web.Models
@model  Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role : @Model.Name</h4>
    <hr />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in ViewBag.UserList)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveRoleFromUser", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <input type="hidden" name="RoleName" value=@Model.Name />
                            <input type="hidden" name="Username" value=@user.Email />
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
