@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Province, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="Provinces" @*disabled="disabled"*@ name="Province" class="form-control ng-pristine ng-valid ng-valid-required" ng-model="tab1.ProvinceId" required="" ng-options="option.value as option.name for option in provinceRegister">
                <option value="0" selected="selected">กรุณาเลือกจังหวัด</option>
                <option value="กรุงเทพมหานคร">กรุงเทพมหานคร   </option>
                <option value="สมุทรปราการ">สมุทรปราการ   </option>
                <option value="นนทบุรี">นนทบุรี   </option>
                <option value="ปทุมธานี">ปทุมธานี   </option>
                <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา   </option>
                <option value="อ่างทอง">อ่างทอง   </option>
                <option value="ลพบุรี">ลพบุรี   </option>
                <option value="สิงห์บุรี">สิงห์บุรี   </option>
                <option value="ชัยนาท">ชัยนาท   </option>
                <option value="สระบุรี">สระบุรี</option>
                <option value="ชลบุรี">ชลบุรี   </option>
                <option value="ระยอง">ระยอง   </option>
                <option value="จันทบุรี">จันทบุรี   </option>
                <option value="ตราด">ตราด   </option>
                <option value="ฉะเชิงเทรา">ฉะเชิงเทรา   </option>
                <option value="ปราจีนบุรี">ปราจีนบุรี   </option>
                <option value="นครนายก">นครนายก   </option>
                <option value="สระแก้ว">สระแก้ว   </option>
                <option value="นครราชสีมา">นครราชสีมา   </option>
                <option value="บุรีรัมย์">บุรีรัมย์   </option>
                <option value="สุรินทร์">สุรินทร์   </option>
                <option value="ศรีสะเกษ">ศรีสะเกษ   </option>
                <option value="อุบลราชธานี">อุบลราชธานี   </option>
                <option value="ยโสธร">ยโสธร   </option>
                <option value="ชัยภูมิ">ชัยภูมิ   </option>
                <option value="อำนาจเจริญ">อำนาจเจริญ   </option>
                <option value="หนองบัวลำภู">หนองบัวลำภู   </option>
                <option value="ขอนแก่น">ขอนแก่น   </option>
                <option value="อุดรธานี">อุดรธานี   </option>
                <option value="เลย">เลย   </option>
                <option value="หนองคาย">หนองคาย   </option>
                <option value="มหาสารคาม">มหาสารคาม   </option>
                <option value="ร้อยเอ็ด">ร้อยเอ็ด   </option>
                <option value="กาฬสินธุ์">กาฬสินธุ์   </option>
                <option value="สกลนคร">สกลนคร   </option>
                <option value="นครพนม">นครพนม   </option>
                <option value="มุกดาหาร">มุกดาหาร   </option>
                <option value="เชียงใหม่">เชียงใหม่   </option>
                <option value="ลำพูน">ลำพูน   </option>
                <option value="ลำปาง">ลำปาง   </option>
                <option value="อุตรดิตถ์">อุตรดิตถ์   </option>
                <option value="แพร่">แพร่   </option>
                <option value="น่าน">น่าน   </option>
                <option value="พะเยา">พะเยา   </option>
                <option value="เชียงราย">เชียงราย   </option>
                <option value="แม่ฮ่องสอน">แม่ฮ่องสอน   </option>
                <option value="นครสวรรค์">นครสวรรค์   </option>
                <option value="อุทัยธานี">อุทัยธานี   </option>
                <option value="กำแพงเพชร">กำแพงเพชร   </option>
                <option value="ตาก">ตาก   </option>
                <option value="สุโขทัย">สุโขทัย   </option>
                <option value="พิษณุโลก">พิษณุโลก   </option>
                <option value="พิจิตร">พิจิตร   </option>
                <option value="เพชรบูรณ์">เพชรบูรณ์   </option>
                <option value="ราชบุรี">ราชบุรี   </option>
                <option value="กาญจนบุรี">กาญจนบุรี   </option>
                <option value="สุพรรณบุรี">สุพรรณบุรี   </option>
                <option value="นครปฐม">นครปฐม   </option>
                <option value="สมุทรสาคร">สมุทรสาคร   </option>
                <option value="สมุทรสงคราม">สมุทรสงคราม   </option>
                <option value="เพชรบุรี">เพชรบุรี   </option>
                <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์   </option>
                <option value="นครศรีธรรมราช">นครศรีธรรมราช   </option>
                <option value="กระบี่">กระบี่   </option>
                <option value="พังงา">พังงา   </option>
                <option value="ภูเก็ต">ภูเก็ต   </option>
                <option value="สุราษฎร์ธานี">สุราษฎร์ธานี   </option>
                <option value="ระนอง">ระนอง   </option>
                <option value="ชุมพร">ชุมพร   </option>
                <option value="สงขลา">สงขลา   </option>
                <option value="สตูล">สตูล   </option>
                <option value="ตรัง">ตรัง   </option>
                <option value="พัทลุง">พัทลุง   </option>
                <option value="ปัตตานี">ปัตตานี   </option>
                <option value="ยะลา">ยะลา   </option>
                <option value="นราธิวาส">นราธิวาส   </option>
                <option value="บึงกาฬ">บึงกาฬ</option>
            </select>
            @*@Html.DropDownList*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


